{% extends "base.html" %}
{% block title %}Add Topic{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm">

            <h4 class="mb-4">Add Topics</h4>

            <form method="POST">

                <div class="mb-3">
                    <label class="form-label">Select Subject</label>
                    <select name="subject_id"
                            class="form-select"
                            required>
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}">
                                {{ subject.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        Enter Topics (comma separated)
                    </label>
                    <input type="text"
                           name="topic_names"
                           class="form-control"
                           placeholder="Arrays, Linked List, Trees"
                           required>
                </div>

                <button type="submit"
                        class="btn btn-success w-100">
                    Add Topics
                </button>

            </form>

        </div>
    </div>
</div>

{% endblock %}