{% extends "base.html" %}

{% block title %}Add Exam{% endblock %}

{% block content %}

<h2>Add Exam Date</h2>

<form method="POST">
    <div class="mb-3">
        <label class="form-label">Select Subject</label>
        <select name="subject_id" class="form-control" required>
            {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Exam Date</label>
        <input type="date" name="exam_date" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-warning">
        Save Exam
    </button>
</form>

{% endblock %}
